---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre nosotros">
    <div class="main_wrapper">
        <div class="section_about_hero">
            <div class="grid_wrapper">
                <div
                        id="w-node-bd2ea2ce-f890-8985-8090-7d9eed5604f8-578cbd6a"
                        class="hero_content"
                >
                    <h1 gsap-anim-hero-heading="" class="heading_1">
                        El socio más confiable<br/>para usted
                    </h1>
                    <p gsap-anim-hero-text="" class="hero_text about_hero_text">
                        Empresa mexicana con más de una década de experiencia, Especializada
                        en diseñar y fabricar herramientas, calibradores, dispositivos de
                        sujeción, fixtures, collets e integraciones para la industria
                        manufacturera.
                    </p>
                    <a
                            gsap-anim-hero-btn=""
                            href="/contact"
                            class="hero_button w-inline-block"
                    >
                        <div class="btn-grid">
                            <div class="clip">
                                <div class="button_text_block">
                                    <div class="button_text">Obtén tu cotización</div>
                                </div>
                                <div class="button_text_block bottom">
                                    <div class="button_text">Obtén tu cotización</div>
                                </div>
                            </div>
                            <img
                                    src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/64749cfc88727267a02516d5_button%20arrow.svg"
                                    loading="lazy"
                                    alt="Button white arrow"
                                    class="button_arrow"
                            />
                        </div>
                    </a
                    >
                </div>
            </div>
            <div gsap-anim-hero-bg="" class="hero-background"></div>
        </div>
        <div class="section_slogan">
            <div class="grid_wrapper">
                <div
                        id="w-node-_8575ad17-36af-addc-dae0-dc2980d51c39-578cbd6a"
                        class="slogan_block"
                >
                    <div gsap-anim-fadeup="" class="slogan_inner_block">
                        <div gsap-anim-letter="txtstragger" class="slogan-text">
                            Ofrecemos soluciones integrales "llave en mano", abarcando desde
                            el análisis y detección de necesidades, hasta el diseño,
                            fabricación, instalación, arranque y puesta en marcha de
                            herramientas y fixtures de producción. Nuestro enfoque integral
                            garantiza una ejecución eficiente y precisa en cada etapa del
                            proceso.
                        </div>
                        <div class="slogan-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_why_us">
            <div class="grid_wrapper">
                <div
                        id="w-node-a572ff95-fade-6c65-5c34-4460b891f8ad-578cbd6a"
                        class="why_us_block"
                >
                    <div
                            id="w-node-e6297dea-5ce3-08e7-d857-cfe4da27d970-578cbd6a"
                            class="whyus_block-left"
                    >
                        <h2 gsap-anim-letter="txtstragger" class="heading_2-black">
                            ¿Por qué nosotros?
                        </h2>
                        <div gsap-anim-fadeup="" class="whyus-text">
                            CBH se ha destacado por brindar servicios de fabricación de alta
                            calidad desde 2010. Nos especializamos en atender las necesidades
                            de la industria metalmecánica, centrándonos especialmente en la
                            asesoría, desarrollo, fabricación y automatización de Fixtures,
                            Checking Fixtures, Integraciones, Calibradores y Poka-Yokes.
                        </div>
                        <div
                                data-hover="false"
                                data-delay="0"
                                gsap-anim-fadeup=""
                                class="whyus_toggle_dropdown w-dropdown"
                        >
                            <div class="whyus_toggle w-dropdown-toggle">
                                <div class="whyus_toggle-icon w-icon-dropdown-toggle"></div>
                                <div>Diversity of solutions</div>
                            </div>
                            <nav class="whyus_toggle-content w-dropdown-list">
                                <div class="whyus_toggle-content-text">
                                    Ofrecemos servicios integrales en asesoría, desarrollo, fabricación y automatización
                                    de Fixtures, Checking Fixtures, Integraciones, Calibradores y Poka-Yokes. Con amplia
                                    experiencia, proporcionamos soluciones eficientes y personalizadas para optimizar
                                    procesos industriales.
                                </div>
                            </nav>
                        </div>
                        <div
                                data-hover="false"
                                data-delay="0"
                                gsap-anim-fadeup=""
                                class="whyus_toggle_dropdown w-dropdown"
                        >
                            <div class="whyus_toggle w-dropdown-toggle">
                                <div class="whyus_toggle-icon w-icon-dropdown-toggle"></div>
                                <div>Diversity of solutions</div>
                            </div>
                            <nav class="whyus_toggle-content w-dropdown-list">
                                <div class="whyus_toggle-content-text">
                                    We manufacture in seven countries and ship to over 50, which
                                    means we’re uniquely positioned to provide rapid and
                                    cost-effective production and delivery.
                                </div>
                            </nav>
                        </div>
                        <div
                                data-hover="false"
                                data-delay="0"
                                gsap-anim-fadeup=""
                                class="whyus_toggle_dropdown w-dropdown"
                        >
                            <div class="whyus_toggle w-dropdown-toggle">
                                <div class="whyus_toggle-icon w-icon-dropdown-toggle"></div>
                                <div>Diversity of solutions</div>
                            </div>
                            <nav class="whyus_toggle-content w-dropdown-list">
                                <div class="whyus_toggle-content-text">
                                    We manufacture in seven countries and ship to over 50, which
                                    means we’re uniquely positioned to provide rapid and
                                    cost-effective production and delivery.
                                </div>
                            </nav>
                        </div>
                        <div gsap-anim-fadeup="" class="all_accordians">
                            <div class="accordian_wrap">
                                <div class="accordian_toggle">
                                    <div class="text-block-10">Fabricación con valor añadido</div>
                                    <img
                                            src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/6481cb97468140038c319344_chevron%20icon.svg"
                                            loading="lazy"
                                            alt=""
                                            class="accordian_icon"
                                    />
                                </div>
                                <div class="accordian_content">
                                    <div style="height: 0px" class="accordian_content_text">
                                        Nos enfocamos en reducir costos, disminuir el tiempo de
                                        comercialización, aumentar la productividad y mejorar la
                                        capacidad de respuesta para los clientes.
                                    </div>
                                </div>
                            </div>
                            <div class="accordian_wrap">
                                <div class="accordian_toggle">
                                    <div>Compromiso con las relaciones</div>
                                    <img
                                            src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/6481cb97468140038c319344_chevron%20icon.svg"
                                            loading="lazy"
                                            alt=""
                                            class="accordian_icon"
                                    />
                                </div>
                                <div class="accordian_content">
                                    <div style="height: 0px" class="accordian_content_text">
                                        Nos distinguimos por forjar relaciones sólidas basadas en la confianza,
                                        impulsando así el éxito y la colaboración efectiva.
                                    </div>
                                </div>
                            </div>
                            <div class="accordian_wrap">
                                <div class="accordian_toggle">
                                    <div>Diversidad de soluciones</div>
                                    <img
                                            src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/6481cb97468140038c319344_chevron%20icon.svg"
                                            loading="lazy"
                                            alt=""
                                            class="accordian_icon"
                                    />
                                </div>
                                <div class="accordian_content">
                                    <div style="height: 0px" class="accordian_content_text">
                                        Ofrecemos servicios integrales en asesoría, desarrollo, fabricación y
                                        automatización de Fixtures, Checking Fixtures, Integraciones, Calibradores y
                                        Poka-Yokes. Con amplia experiencia, proporcionamos soluciones eficientes y
                                        personalizadas para optimizar procesos industriales.
                                    </div>
                                </div>
                            </div>
                            <div class="accordian_wrap">
                                <div class="accordian_toggle">
                                    <div>Estándares de Calidad</div>
                                    <img
                                            src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/6481cb97468140038c319344_chevron%20icon.svg"
                                            loading="lazy"
                                            alt=""
                                            class="accordian_icon"
                                    />
                                </div>
                                <div class="accordian_content">
                                    <div style="height: 0px" class="accordian_content_text">
                                        Implementamos la norma ISO 9001 para garantizar la calidad
                                        en nuestros procesos y servicios, asegurando la satisfacción
                                        del cliente y promoviendo la mejora continua en nuestra
                                        organización.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                            gsap-anim-fadeup=""
                            id="w-node-ee660a8c-8b5e-f5fe-dfe1-f63961156ebd-578cbd6a"
                            class="whyus_block-right"
                    >
                        <div class="whyus-image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
