---
import Layout from "../layouts/Layout.astro";
import "../../src/styles/pages/contact.css";
---

<Layout title="Servicios">
  <div class="main_wrapper">
    <div class="section_contact_hero">
      <div class="grid_wrapper">
        <div
          id="w-node-_16223885-9937-cea7-e81e-6a8ec43139bc-578cbd79"
          class="hero_content"
        >
          <h1 gsap-anim-hero-heading="" class="heading_1">
            <div
              class="line"
              style="display: block; text-align: start; width: 100%;"
            >
              <div class="word" style="display: inline-block;">
                <div
                  class="char"
                  style="display: inline-block; translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0%);"
                >
                  Contacto
                </div>
              </div>
            </div>
          </h1>
          <p
            gsap-anim-hero-text=""
            class="hero_text about_hero_text"
            style="opacity: 1;"
          >
            ¿Tienes alguna duda o requieres más detalles? Te invitamos a llenar
            nuestro formulario de contacto, cuéntanos cómo podemos echarte la
            mano.
          </p>
        </div>
      </div>
      <div gsap-anim-hero-bg="" class="hero-background" style="opacity: 0;">
      </div>
    </div>
    <div class="section_contact">
      <div class="grid_wrapper">
        <div
          id="w-node-_44b001ab-5363-e9aa-925b-fdfdc691c4bf-578cbd79"
          class="blog_block"
        >
          <h2
            gsap-anim-letter="txtstragger"
            id="w-node-_44b001ab-5363-e9aa-925b-fdfdc691c4c1-578cbd79"
            class="heading_2-black"
          >
            <div
              class="line"
              style="display: block; text-align: start; width: 100%;"
            >
              <div class="word" style="display: inline-block;">
                <div
                  class="char"
                  style="display: inline-block; translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0%); font-size:extra-large"
                >
                  Estamos aquí para ayudar
                </div>
              </div>
            </div>
          </h2>
          <div
            id="w-node-_44b001ab-5363-e9aa-925b-fdfdc691c4cd-578cbd79"
            class="our_blog w-dyn-list"
          >
            <form
              action="https://api.web3forms.com/submit"
              method="POST"
              id="form"
              class="needs-validation"
              novalidate
            >
              <input
                type="hidden"
                name="access_key"
                value="95880d49-07b0-4900-ae48-ae48d06098bb"
              />
              <input
                type="checkbox"
                class="hidden"
                style="display:none"
                name="botcheck"
              />
              <input type="hidden" name="from_name" value="CBH WEBSITE">
              <input type="hidden" name="subject" value="Cliente quiere contactar contigo"/>
              <div class="mb-5">
                <input
                  type="text"
                  placeholder="Nombre completo"
                  required
                  class="contact_input"
                  name="name"
                />
                <div
                  class="empty-feedback invalid-feedback text-red-400 text-sm mt-1"
                >
                  Proporcione su nombre completo.
                </div>
              </div>
              <div class="mb-5">
                <input
                  id="email_address"
                  type="email"
                  placeholder="Dirección de correo electrónico"
                  name="email"
                  required
                  class="contact_input"
                />
                <div class="empty-feedback text-red-400 text-sm mt-1">
                  Proporcione su dirección de correo electrónico.
                </div>
                <div class="invalid-feedback text-red-400 text-sm mt-1">
                  Por favor, introduzca su dirección de correo electrónico
                  válida.
                </div>
              </div>
              <div class="mb-3">
                <textarea
                  name="message"
                  required
                  placeholder="Tu mensaje"
                  style="height: 10rem"
                  class="contact_input"></textarea>
                <div
                  class="empty-feedback invalid-feedback text-red-400 text-sm mt-1"
                >
                  Por favor ingrese su mensaje.
                </div>
              </div>
              <div class="h-captcha mb-5 contact_captcha" data-captcha="true"></div>
              <div class="proceed_block">
                <div class="error_message_block">
                  <div class="w-embed">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12 16.7307C12.2288 16.7307 12.4207 16.6533 12.5755 16.4985C12.7303 16.3437 12.8077 16.1519 12.8077 15.9231C12.8077 15.6942 12.7303 15.5024 12.5755 15.3476C12.4207 15.1928 12.2288 15.1154 12 15.1154C11.7711 15.1154 11.5793 15.1928 11.4245 15.3476C11.2697 15.5024 11.1923 15.6942 11.1923 15.9231C11.1923 16.1519 11.2697 16.3437 11.4245 16.4985C11.5793 16.6533 11.7711 16.7307 12 16.7307ZM11.25 13.0769H12.75V7.0769H11.25V13.0769ZM12.0017 21.5C10.6877 21.5 9.45268 21.2506 8.29655 20.752C7.1404 20.2533 6.13472 19.5765 5.2795 18.7217C4.42427 17.8669 3.74721 16.8616 3.24833 15.706C2.74944 14.5504 2.5 13.3156 2.5 12.0017C2.5 10.6877 2.74933 9.45268 3.248 8.29655C3.74667 7.1404 4.42342 6.13472 5.27825 5.2795C6.1331 4.42427 7.13834 3.74721 8.29398 3.24833C9.44959 2.74944 10.6844 2.5 11.9983 2.5C13.3122 2.5 14.5473 2.74933 15.7034 3.248C16.8596 3.74667 17.8652 4.42342 18.7205 5.27825C19.5757 6.1331 20.2527 7.13834 20.7516 8.29398C21.2505 9.44959 21.5 10.6844 21.5 11.9983C21.5 13.3122 21.2506 14.5473 20.752 15.7034C20.2533 16.8596 19.5765 17.8652 18.7217 18.7205C17.8669 19.5757 16.8616 20.2527 15.706 20.7516C14.5504 21.2505 13.3156 21.5 12.0017 21.5ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76664 19.225 7.87498 17.675 6.32498C16.125 4.77498 14.2333 3.99998 12 3.99998C9.76664 3.99998 7.87498 4.77498 6.32498 6.32498C4.77498 7.87498 3.99998 9.76664 3.99998 12C3.99998 14.2333 4.77498 16.125 6.32498 17.675C7.87498 19.225 9.76664 20 12 20Z"
                        fill="#B52437"></path>
                    </svg>
                  </div><div>
                    Please select technology and upload your cad file
                  </div>
                </div>
                <button
                  id="proceed_3d"
                  gsap-anim-hero-btn=""
                  type="submit"
                  class="hero_button proceed_btn w-inline-block"
                >
                  <div class="btn-grid">
                    <div class="clip">
                      <div
                        class="button_text_block"
                        style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                      >
                        <div class="button_text">Enviar</div>
                      </div><div
                        class="button_text_block bottom"
                        style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                      >
                        <div class="button_text">Enviar</div>
                      </div>
                    </div><img
                      loading="lazy"
                      src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/64749cfc88727267a02516d5_button%20arrow.svg"
                      alt="Button white arrow"
                      class="button_arrow"
                    />
                  </div>
                </button>
              </div>
              <div id="result" class="mt-3 text-center"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script src="https://web3forms.com/client/script.js" async defer></script>
<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #dc3545;
  }
</style>

<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", function (e) {
    const hCaptcha = form.querySelector(
      "textarea[name=h-captcha-response]"
    ).value;
    if (!hCaptcha) {
      e.preventDefault();
      alert("Please fill out captcha field");
      return;
    }

    e.preventDefault();
    form.classList.add("was-validated");
    if (!form.checkValidity()) {
      form.querySelectorAll(":invalid")[0].focus();
      return;
    }
    const formData = new FormData(form);
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.innerHTML = "Sending...";

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.classList.add("text-green-500");
          result.innerHTML = json.message;
        } else {
          console.log(response);
          result.classList.add("text-red-500");
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        form.classList.remove("was-validated");
        setTimeout(() => {
          result.style.display = "none";
        }, 5000);
      });
  });
</script>
