---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Servicios">
    <div class="main_wrapper">
        <div class="section_resource_hero">
            <div class="grid_wrapper">
                <div
                        id="w-node-_16223885-9937-cea7-e81e-6a8ec43139bc-578cbd79"
                        class="hero_content"
                >
                    <h1 gsap-anim-hero-heading="" class="heading_1">
                        <div
                                class="line"
                                style="display: block; text-align: start; width: 100%;"
                        >
                            <div class="word" style="display: inline-block;">
                                <div
                                        class="char"
                                        style="display: inline-block; translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0%);"
                                >
                                    Servicios
                                </div>
                            </div>
                        </div>
                    </h1>
                    <p
                            gsap-anim-hero-text=""
                            class="hero_text about_hero_text"
                            style="opacity: 1;"
                    >
                        Transformamos tu operación con soluciones que sincronizan sistemas y automatizan procesos clave.
                        Descubre la eficiencia redefinida para un flujo de trabajo sin complicaciones.
                    </p>
                </div>
            </div>
            <div
                    gsap-anim-hero-bg=""
                    class="hero-background"
                    style="opacity: 0;"
            >
            </div>
        </div>
        <div class="section_services_list">
            <div class="service_code w-embed">
                <style>
                    a.service_tab-link.w--current {
                        color: #b52437;
                        transition: 0.5s ease;
                    }

                    .service_slider .splide__slide {
                        width: 46% !important;
                    }

                    .section_services_list {
                        contain: paint;
                    }

                    .mobile_service_tab.active {
                        box-shadow: 0 10px 50px rgba(21, 21, 21, 0.1);
                    }

                    .mobile_service_tab::-webkit-scrollbar {
                        width: 0 !important;
                        display: none;
                    }

                    @media only screen and (max-width: 768px) {
                        .service_slider .splide__slide {
                            width: 70% !important;
                        }
                    }

                    @media only screen and (max-width: 767px) {
                        .service_slider .splide__slide {
                            width: 100% !important;
                        }
                    }
                </style>
            </div>
            <div gsap-anim-fade="" class="mobile_service_tab">
                <a
                        href="/#cnc-service"
                        class="mobile_service_tab-link"
                >Mecanizado CNC</a
                ><a
                    href="/#calipers"
                    class="mobile_service_tab-link"
            >Calibradores</a
            ><a
                    href="/#tooling"
                    class="mobile_service_tab-link"
            >Herramentales</a
            ><a
                    href="/#vaccum-casting"
                    class="mobile_service_tab-link"
            >Fundición al vacío
            </a
            >
            </div>
            <div class="services_grid">
                <div
                        id="w-node-_89edd147-3c53-bc50-b2be-f33079da3d09-578cbd7c"
                        class="services_tab_block"
                >
                    <div gsap-anim-fadeup="" class="services_tab">
                        <a
                                href="#cnc-service"
                                class="service_tab-link"
                        >Mecanizado CNC</a
                        ><a
                            href="#calipers"
                            class="service_tab-link"
                    >Calibradores</a
                    ><a
                            href="#tooling"
                            class="service_tab-link"
                    >Herramentales</a
                    ><a
                            href="#vaccum-casting"
                            class="service_tab-link"
                    >Fundición al vacío
                    </a
                    ><a
                            href="/contact"
                            class="get_a_quote_btn_block w-inline-block"
                    >
                        <div class="btn-grid">
                            <div class="clip">
                                <div class="button_text_block">
                                    <div class="sub_button-text">Obtén tu cotización</div>
                                </div>
                                <div class="button_text_block bottom">
                                    <div class="sub_button-text">Obtén tu cotización</div>
                                </div>
                            </div>
                            <div class="sub_button-arrow w-embed">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="20"
                                        height="9"
                                        viewbox="0 0 20 9"
                                        fill="none"
                                >
                                    <rect
                                            y="4"
                                            width="14"
                                            height="1"
                                            fill="#151515"
                                            fill-opacity="0.6"
                                    />
                                    <path
                                            d="M14 8V1L19.5 4.5L14 8Z"
                                            fill="#151515"
                                            fill-opacity="0.6"
                                            stroke="#151515"
                                            stroke-opacity="0.6"
                                            stroke-width="0.2"
                                    />
                                </svg>
                            </div>
                        </div>
                        <div class="sub_button-line"></div
                        >
                    </a>
                    </div>
                    <div class="service_title_block">
                        <h2 gsap-anim-letter="txtstragger" class="heading_2-black">
                            Explorar todo
                        </h2>
                        <a
                                href="/services"
                                class="get_a_quote_btn_block w-inline-block"
                        >
                            <div class="btn-grid">
                                <div class="clip">
                                    <div class="button_text_block">
                                        <div class="sub_button-text">Obtén tu cotización</div>
                                    </div>
                                    <div class="button_text_block bottom">
                                        <div class="sub_button-text">Obtén tu cotización</div>
                                    </div>
                                </div>
                                <div class="sub_button-arrow w-embed">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="20"
                                            height="9"
                                            viewbox="0 0 20 9"
                                            fill="none"
                                    >
                                        <rect
                                                y="4"
                                                width="14"
                                                height="1"
                                                fill="#151515"
                                                fill-opacity="0.6"
                                        />
                                        <path
                                                d="M14 8V1L19.5 4.5L14 8Z"
                                                fill="#151515"
                                                fill-opacity="0.6"
                                                stroke="#151515"
                                                stroke-opacity="0.6"
                                                stroke-width="0.2"
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="sub_button-line"></div
                            >
                        </a>
                    </div>
                </div>
                <div
                        id="w-node-fd635576-8b21-b573-bc32-d5a0270e6ca2-578cbd7c"
                        class="services_content"
                >
                    <div id="cnc-service" class="service_block-one">
                        <div class="service_detail_grid">
                            <div
                                    gsap-anim-fadeup=""
                                    id="w-node-_39193eb8-dc62-5091-c256-45b51f84b45b-578cbd7c"
                                    class="service_image_block-one"
                            ></div>
                            <div
                                    id="w-node-_39193eb8-dc62-5091-c256-45b51f84b45c-578cbd7c"
                                    class="service_content_block"
                            >
                                <h2 gsap-anim-letter="txtstragger" class="service_title">
                                    Mecanizado CNC
                                </h2>
                                <div gsap-anim-fadeup="" class="service_details-block">
                                    <div class="service_text">
                                        Fabricación personalizada, desde piezas únicas hasta producción en serie y MRO.
                                        Nos especializamos en maquinados de aceros especiales y plásticos de ingeniería,
                                        destacando en la creación de punzones y matrices de corte de alta calidad.
                                    </div>
                                    <div class="service-line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="calipers" class="service_block-one">
                        <div class="service_detail_grid">
                            <div
                                    gsap-anim-fadeup=""
                                    id="w-node-_2714077d-5f4b-2b6b-6a08-8f5b539c607d-578cbd7c"
                                    class="service_image_block-three"
                            ></div>
                            <div
                                    id="w-node-_2714077d-5f4b-2b6b-6a08-8f5b539c607e-578cbd7c"
                                    class="service_content_block"
                            >
                                <h2 gsap-anim-letter="txtstragger" class="service_title">
                                    Calibradores
                                </h2>
                                <div gsap-anim-fadeup="" class="service_details-block">
                                    <div class="service_text">
                                        Confeccionados en aluminio 7075, ofrece precisión en un rango de 0.01 mm a
                                        0.0005 mm en posiciones finales. Especializado en la fabricación de calibres "Go
                                        No Go" y feelers, su diseño se fundamenta en la interpretación de GD&T,
                                        asegurando mediciones confiables y exactas.
                                    </div>
                                    <div class="service-line"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="tooling" class="service_block-one">
                        <div class="service_detail_grid">
                            <div
                                    gsap-anim-fadeup=""
                                    id="w-node-_19e76255-aba0-3898-18ac-d06a839fd750-578cbd7c"
                                    class="service_image_block-two"
                            ></div>
                            <div
                                    id="w-node-_98d2956b-63e2-af23-9457-fd190c074d6b-578cbd7c"
                                    class="service_content_block"
                            >
                                <h2 gsap-anim-letter="txtstragger" class="service_title">
                                    Herramentales
                                </h2>
                                <div gsap-anim-fadeup="" class="service_details-block">
                                    <div class="service_text">
                                        Montaduras de sujeción versátiles, ideales para el barrenado de piezas
                                        especiales o irregulares en procesos de producción. Nuestro diseño preciso
                                        asegura una sujeción eficiente.
                                    </div>
                                    <div class="service-line"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="vaccum-casting" class="service_block-one">
                        <div class="service_detail_grid">
                            <div
                                    gsap-anim-fadeup=""
                                    id="w-node-_5be18822-ad16-4093-c929-f38c615561c2-578cbd7c"
                                    class="service_image_block-four"
                            ></div>
                            <div
                                    id="w-node-_5be18822-ad16-4093-c929-f38c615561c3-578cbd7c"
                                    class="service_content_block"
                            >
                                <h2 gsap-anim-letter="txtstragger" class="service_title">
                                    Fundición al vacío
                                </h2>
                                <div gsap-anim-fadeup="" class="service_details-block">
                                    <div class="service_text">
                                        Servicios integrales de inyección de plásticos y fabricación de moldes,
                                        brindando soluciones personalizadas de calidad para diversas aplicaciones.
                                    </div>
                                    <div class="service-line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                        id="w-node-fca0c1bb-0abb-87f7-92fa-b7a338cfa69e-578cbd7c"
                        class="left_bg_block"
                ></div>
            </div>
        </div>
    </div>

    <script>
        function slider() {
            let splides = $(".service_slider, .mobile_process_slider");
            for (let i = 0, splideLength = splides.length; i < splideLength; i++) {
                new Splide(splides[i], {
                    type: "slide",
                    direction: "horizontal",
                    slidesPerView: "auto",
                    keyboard: true,
                    freeMode: true,
                    centeredSlides: true,
                    mousewheel: true,
                    breakpoints: {
                        991: {slidesPerView: 3},
                        480: {slidesPerView: 3},
                        768: {slidesPerView: 3},
                    },
                    speed: 300,
                }).mount();
            }
        }

        slider();

        function testimonial_splide() {
            let splides = $(".testimonial_splide");
            for (let i = 0, splideLength = splides.length; i < splideLength; i++) {
                new Splide(splides[i], {
                    type: "slide",
                    direction: "horizontal",
                    slidesPerView: "auto",
                    keyboard: true,
                    freeMode: true,
                    centeredSlides: true,
                    mousewheel: true,
                    breakpoints: {
                        991: {slidesPerView: 3},
                        480: {slidesPerView: 3},
                        768: {slidesPerView: 3},
                    },
                    speed: 300,
                }).mount();
            }
        }

        testimonial_splide();

        // All service gallery slider
        var splide1 = new Splide(".gallery_service-1");
        var bar1 = splide1.root.querySelector(".gallery_progress_bar-1");
        // Update the bar width:
        splide1.on("mounted move", function () {
            var end = splide1.Components.Controller.getEnd() + 1;
            bar1.style.width = String((100 * (splide1.index + 1)) / end) + "%";
        });
        splide1.mount();

        var splide2 = new Splide(".gallery_service-2");
        var bar2 = splide2.root.querySelector(".gallery_progress_bar-2");

        splide2.on("mounted move", function () {
            var end = splide2.Components.Controller.getEnd() + 1;
            bar2.style.width = String((100 * (splide2.index + 1)) / end) + "%";
        });
        splide2.mount();

        var splide3 = new Splide(".gallery_service-3");
        var bar3 = splide3.root.querySelector(".gallery_progress_bar-3");

        splide3.on("mounted move", function () {
            var end = splide3.Components.Controller.getEnd() + 1;
            bar3.style.width = String((100 * (splide3.index + 1)) / end) + "%";
        });
        splide3.mount();

        var splide4 = new Splide(".gallery_service-4");
        var bar4 = splide4.root.querySelector(".gallery_progress_bar-4");

        splide4.on("mounted move", function () {
            var end = splide4.Components.Controller.getEnd() + 1;
            bar4.style.width = String((100 * (splide4.index + 1)) / end) + "%";
        });
        splide4.mount();

        var splide5 = new Splide(".gallery_service-5");
        var bar5 = splide5.root.querySelector(".gallery_progress_bar-5");

        splide5.on("mounted move", function () {
            var end = splide5.Components.Controller.getEnd() + 1;
            bar5.style.width = String((100 * (splide5.index + 1)) / end) + "%";
        });
        splide5.mount();

        function slider1() {
            let splides = $(
                ".slider-1, .slider-2, .slider-3, .slider-4, .slider-5"
            );
            for (let i = 0, splideLength = splides.length; i < splideLength; i++) {
                new Splide(splides[i], {
                    type: "slide",
                    direction: "horizontal",
                    slidesPerView: "auto",
                    keyboard: true,
                    freeMode: true,
                    centeredSlides: true,
                    mousewheel: true,
                    breakpoints: {
                        991: {slidesPerView: 3},
                        480: {slidesPerView: 3},
                        768: {slidesPerView: 3},
                    },
                    speed: 300,
                }).mount();
            }
        }

        slider1();
    </script>

    <!-- Mobile Services tab -->
    <script>
        $(window).scroll(function () {
            var stickyTop = $(".mobile_service_tab").offset().top;
            if ($(this).scrollTop() >= stickyTop) {
                $(".mobile_service_tab").addClass("active");
            } else {
                $(".mobile_service_tab").removeClass("active");
            }
        });
    </script>
</Layout>
