---
import { Image } from "astro:assets";
import "../../src/styles/components/clients.css"
import bollhoff from "../assets/img/clients/Bollhoff.png";
import dana from "../assets/img/clients/dana.png";
import eaton from "../assets/img/clients/eaton.png";
import hella from "../assets/img/clients/hella.png";
import toyota from "../assets/img/clients/toyota.png";
import wabash from "../assets/img/clients/wabash.png";
---

 <div class="secttion_clients">
  <div class="grid_wrapper">
    <div
      id="w-node-_075cdd90-77b4-29eb-2c5b-56c06dd27ec1-578cbd69"
      data-w-id="075cdd90-77b4-29eb-2c5b-56c06dd27ec1"
      class="mobile_client_block"
    >
      <div gsap-anim-clientlogo="" class="mobile_client_logo_box">
        <Image src={eaton} alt="eaton" class="clients_logo" />
      </div>
      <div gsap-anim-clientlogo="" class="mobile_client_logo_box">
        <Image src={dana} alt="eaton" class="clients_logo" />
      </div>
      <div gsap-anim-clientlogo="" class="mobile_client_logo_box">
        <Image src={toyota} alt="eaton" class="clients_logo" />
      </div>
      <div gsap-anim-clientlogo="" class="mobile_client_logo_box">
        <Image src={wabash} alt="eaton" class="clients_logo" />
      </div>
      <div gsap-anim-clientlogo="" class="mobile_client_logo_box">
        <Image src={hella} alt="eaton" class="clients_logo" />
      </div>
      <div gsap-anim-clientlogo="" class="mobile_client_logo_box">
        <Image src={bollhoff} alt="eaton" class="clients_logo" />
      </div>
    </div>
    <div
      id="w-node-_2d77fbf2-b373-763b-819e-c4a3c6020759-578cbd69"
      class="client_block"
    >
      <div
        gsap-anim-clientlogo=""
        id="w-node-d29cc8e6-a35c-dcc4-3275-ec78a503f0e6-578cbd69"
        class="client_logo_box"
      >
        <Image src={eaton} alt="eaton" class="clients_logo" height={40}/>
      </div>
      <div
        gsap-anim-clientlogo=""
        id="w-node-_1c12c5da-7db1-52a6-9cc9-d9ae0d8ec259-578cbd69"
        class="client_logo_box"
      >
        <Image src={dana} alt="dana" class="clients_logo" height={50}/>
      </div>
      <div
        gsap-anim-clientlogo=""
        id="w-node-_3ee4276e-2ec4-f365-1594-d9ba07220c1e-578cbd69"
        class="client_logo_box"
      >
        <Image src={toyota} alt="toyota" class="clients_logo" height={40} width={180}/>
      </div>
      <div
        gsap-anim-clientlogo=""
        id="w-node-_25287850-3091-0f3c-5fff-4d273f07176b-578cbd69"
        class="client_logo_box"
      >
        <Image src={wabash} alt="wabash" class="clients_logo" height={60}/>
      </div>
      <div
        gsap-anim-clientlogo=""
        id="w-node-_09c68104-66da-3979-5717-11c33cfc3139-578cbd69"
        class="client_logo_box"
      >
        <Image src={hella} alt="hella" class="clients_logo" height={70}/>
      </div>
      <div
        gsap-anim-clientlogo=""
        id="w-node-fc97a9f8-971a-6c86-3c00-d81396283d67-578cbd69"
        class="client_logo_box"
      >
        <Image src={bollhoff} alt="bollhoff" class="clients_logo" height={70}/>
      </div>
    </div>
  </div>
</div>
