---
import {Image} from "astro:assets";
import Logo from "../assets/img/logo.svg";
---

<div class="footer">
    <div class="grid_wrapper">
        <div
                gsap-anim-fadeup=""
                id="w-node-_2bdf37a7-5113-22b5-c718-f406080443bb-080443b9"
                class="footer_block"
        >
            <a
                    id="w-node-_2bdf37a7-5113-22b5-c718-f406080443bc-080443b9"
                    aria-current="page"
                    class="footer_logo w-inline-block w--current"
            >
                <Image
                        src={Logo}
                        alt="logo-cbhmt"
                        class="logo_link_img"
                        loading="lazy"
                        width={120}
                        height={80}
                />
            </a>
            <div
                    id="w-node-_2bdf37a7-5113-22b5-c718-f406080443be-080443b9"
                    class="footer_link_block"
            >
                <div
                        id="w-node-_2bdf37a7-5113-22b5-c718-f406080443bf-080443b9"
                        class="footer_link_box"
                >
                    <div class="footer_link-title">Acerca de</div>
                    <a
                            href="/about"
                            class="footer-link">Sobre nosotros</a
                    >
                    <div class="footer_link-line"></div>
                </div>
                <div
                        id="w-node-_2bdf37a7-5113-22b5-c718-f406080443cd-080443b9"
                        class="footer_link_box"
                >
                    <div class="footer_link-title">Servicios</div>
                    <a href="/services#cnc-service" class="footer-link">Mecanizado CNC</a>
                    <a href="/services#calipers" class="footer-link">Calibradores</a>
                    <a href="/services#tooling" class="footer-link">Herramentales</a>
                    <a href="/services#vaccum-casting" class="footer-link">Fundición al vacío</a>
                    <div class="footer_link-line"></div>
                </div>
                <div
                        id="w-node-_2bdf37a7-5113-22b5-c718-f406080443e3-080443b9"
                        class="footer_link_box"
                >
                    <div class="footer_link-title">Productos</div>
                    <a href="/services#cnc-service" class="footer-link">Mecanizado CNC</a>
                    <a href="/services#calipers" class="footer-link">Calibradores</a>
                    <a href="/services#tooling" class="footer-link">Herramentales</a>
                    <a href="/services#vaccum-casting" class="footer-link">Fundición al vacío</a>
                    <div class="footer_link-line"></div>
                </div>
                <div
                        id="w-node-_2bdf37a7-5113-22b5-c718-f406080443f3-080443b9"
                        class="footer_link_box"
                >
                    <div class="footer_link-title">Contacto</div>
                    <a href="tel:+524422252786" class="footer-link">(442) 225 27 86</a>
                    <a href="https://maps.app.goo.gl/ordF95iNCRPSjqvJ7" target="_blank" class="footer-link">
                        Av. las Rosas 314, Loma IX, 76117 San Pedro Martir, Qro.
                    </a>
                    <div class="footer_link-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div
                id="w-node-_2bdf37a7-5113-22b5-c718-f40608044407-080443b9"
                class="footer-ribbon"
        >
            <div
                    id="w-node-_2bdf37a7-5113-22b5-c718-f40608044408-080443b9"
            >
                <p class="footer-text">Copyright © {new Date().getFullYear()}</p>
            </div>

        </div>
        <div
                id="scroll-top-top"
                class="scroll_up_block w-node-_2bdf37a7-5113-22b5-c718-f4060804440f-080443b9"
        >
            <div class="footer-rights-texts">Ascender</div>
            <img
                    src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/6475b9e9eba1a8c129c84add_scroll%20up%20icon.svg"
                    loading="lazy"
                    alt=""
                    class="scroll_up-icon"
            />
        </div>
    </div>
</div>
