---
import "../styles/components/galery.css"
import {Image} from "astro:assets";
import F1 from  "../assets/img/factory/f1.JPG"
import F2 from  "../assets/img/factory/f2.JPG"
import F3 from "../assets/img/factory/f3.JPG"
import F4 from  "../assets/img/factory/f4.jpg"
import F5 from  "../assets/img/factory/f5.jpg"

---
<div class="section_company_images">
    <div class="grid_wrapper">
        <div id="w-node-e37e644d-1507-881e-96ee-995dfe3b2cb4-578cbd69" class="capability_image_title_block">
            <h2 gsap-anim-letter="txtstragger" id="w-node-f8f223b0-fbe3-88e0-0f23-ffd7e2e39d03-578cbd69"
                class="heading_2-white">Capacidad de fábrica</h2>
            <div id="w-node-_4a0e87b2-6caa-1aeb-9279-f8723608bf23-578cbd69" class="splide slider">
                <div class="splide_embed w-embed">
                    <style>
                        .slider .splide__arrows,
                        .slider .splide__pagination {
                            display: none;
                        }

                        .my-slider-progress-bar {
                            transition: width 400ms ease;
                            width: 0;
                        }

                        .section_company_images .slider .splide__slide {
                            width: 40% !important;
                        }

                        @media only screen and (max-width: 768px) {
                            .section_company_images .slider .splide__slide {
                                width: 70% !important;
                            }
                        }

                        @media only screen and (max-width: 767px) {
                            .section_company_images .slider .splide__slide {
                                width: 90% !important;
                            }
                        }
                    </style>
                </div>
                <div class="splide__track w-dyn-list">
                    <div role="list" class="splide__list w-dyn-items">
                        <div gsap-anim-fade role="listitem" class="splide__slide w-dyn-item">
                            <div class="company_image_wrapper">
                                <Image
                                        src={F1}
                                        loading="lazy" alt=""
                                        sizes="(max-width: 991px) 100vw, (max-width: 1279px) 1vw, (max-width: 1439px) 100vw, (max-width: 1919px) 1vw, 66px"
                                        class="company_image"/>
                            </div>
                        </div>
                        <div gsap-anim-fade role="listitem" class="splide__slide w-dyn-item">
                            <div class="company_image_wrapper">
                                <Image
                                        src={F2}
                                        loading="lazy" alt=""
                                        sizes="(max-width: 991px) 100vw, (max-width: 1279px) 1vw, (max-width: 1439px) 100vw, (max-width: 1919px) 1vw, 66px"
                                        class="company_image"/>
                            </div>
                        </div>
                        <div gsap-anim-fade role="listitem" class="splide__slide w-dyn-item">
                            <div class="company_image_wrapper">
                                <Image
                                        src={F3}
                                        loading="lazy" alt=""
                                        sizes="(max-width: 991px) 100vw, (max-width: 1279px) 1vw, (max-width: 1439px) 100vw, (max-width: 1919px) 1vw, 66px"
                                        class="company_image"/>
                            </div>
                        </div>
                        <div gsap-anim-fade role="listitem" class="splide__slide w-dyn-item">
                            <div class="company_image_wrapper">
                                <Image
                                        src={F4}
                                        loading="lazy" alt="" class="company_image"/>
                            </div>
                        </div>
                        <div gsap-anim-fade role="listitem" class="splide__slide w-dyn-item">
                            <div class="company_image_wrapper">
                                <Image
                                        src={F5}
                                        loading="lazy" alt=""
                                        sizes="(max-width: 991px) 100vw, (max-width: 1279px) 1vw, (max-width: 1439px) 100vw, (max-width: 1919px) 1vw, 66px"
                                        class="company_image"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progressbar_block">
                    <div id="w-node-_4928c652-4bd1-9a76-8f0a-b2ae7d491f46-578cbd69" class="slider_progress">
                        <div class="my-slider-progress-bar"></div>
                    </div>
                    <div gsap-anim-letter="fade" id="w-node-ca9e5e9b-01cc-b690-c3d5-e94d1ff19b13-578cbd69"
                         class="company_progress-text">DESLIZA para explorar
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>