<div gsap-anim-hero="" class="section_hero">
    <div class="grid_wrapper">
        <div
                id="w-node-f5edd9a5-27c5-cc34-1595-13071129ea83-578cbd69"
                class="hero_content"
        >
            <h1 gsap-anim-hero-heading="" class="heading_1">
                Eficiencia Industrial con<br/>Ingeniería Automatizada
            </h1>
            <p gsap-anim-hero-text="" class="hero_text">
                Fabricación e integración de estaciones de trabajo para líneas
                de ensamblaje, enfocada en la automatización.
            </p>
            <div gsap-anim-hero-btn="" class="hero-button-block">
                <a
                        href="/contact"
                        class="hero_button w-inline-block"
                >
                    <div class="btn-grid">
                        <div class="clip">
                            <div class="button_text_block">
                                <div class="button_text">Obtén tu cotización</div>
                            </div>
                            <div class="button_text_block bottom">
                                <div class="button_text">Obtén tu cotización</div>
                            </div>
                        </div>
                        <img
                                src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/64749cfc88727267a02516d5_button%20arrow.svg"
                                loading="lazy"
                                alt="Button white arrow"
                                class="button_arrow"
                        />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
