---
import { Image } from "astro:assets";
import Fixtures from "../assets/img/service/fixtures.svg";
import S4 from "../assets/img/service/s4.svg"
---

<div class="section_services">
  <div class="grid_wrapper">
    <div
      id="w-node-a9d759fe-f099-fdf7-fc86-0b5abab67337-578cbd69"
      class="services_block"
    >
      <div class="grid_title">
        <h2
          gsap-anim-letter="txtstragger"
          id="w-node-_8ff95004-bebe-947d-4316-3f16a14ebb6d-578cbd69"
          class="heading_2-black"
        >
          Servicios que ofrecemos
        </h2>
        <a
          gsap-anim-fadeup=""
          id="w-node-_3a93b62b-3b39-4a44-cac0-b4c5bbfd4f76-578cbd69"
          href="/services"
          class="secondary_button w-inline-block"
        >
          <div class="btn-grid">
            <div class="clip">
              <div class="button_text_block">
                <div class="secondary_btn_text">Explorar todo</div>
              </div>
              <div class="button_text_block bottom">
                <div class="secondary_btn_text">Explorar todo</div>
              </div>
            </div>
            <div class="sub_button-arrow w-embed">
              <svg
                width="20"
                height="9"
                viewbox="0 0 20 9"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect y="4" width="14.0628" height="1" fill="#151515"></rect>
                <path
                  d="M14.0625 8V1L19.5872 4.5L14.0625 8Z"
                  fill="#151515"
                  stroke="#151515"
                  stroke-width="0.2"></path>
              </svg>
            </div>
          </div>
        </a>
      </div>
      <div class="services_list_top">
        <div
          gsap-anim-fadeup=""
          id="w-node-_78c3e36d-6be3-2772-89a9-64b6e1d17e98-578cbd69"
          class="service_card_one"
        >
          <img
            src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/6474a208df70334b4003556c_CNC%20Machining%20icon.svg"
            loading="lazy"
            id="w-node-_78c3e36d-6be3-2772-89a9-64b6e1d17e99-578cbd69"
            alt="CNC Machining icon"
            class="service_icon"
          />
          <div
            id="w-node-_78c3e36d-6be3-2772-89a9-64b6e1d17e9a-578cbd69"
            class="service_number"
          >
            <div class="verticle_line"></div>
            <div class="number">1</div>
          </div>
          <div
            id="w-node-_78c3e36d-6be3-2772-89a9-64b6e1d17e9e-578cbd69"
            class="service_content"
          >
            <h3 class="heading_3">Mecanizado CNC</h3>
            <div class="service-text">
              Fabricación personalizada, desde piezas únicas hasta producción en
              serie y MRO. Nos especializamos en maquinados de aceros especiales
              y plásticos de ingeniería, destacando en la creación de punzones y
              matrices de corte de alta calidad.
            </div>
            <a
              href="/services#cnc-service"
              class="sub_button_block w-inline-block"
            >
              <div class="btn-grid">
                <div class="clip">
                  <div class="button_text_block">
                    <div class="sub_button-text">Descubrir más</div>
                  </div>
                  <div class="button_text_block bottom">
                    <div class="sub_button-text">Descubrir más</div>
                  </div>
                </div>
                <div class="sub_button-arrow w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="9"
                    viewbox="0 0 20 9"
                    fill="none"
                  >
                    <rect
                      y="4"
                      width="14"
                      height="1"
                      fill="#151515"
                      fill-opacity="0.6"></rect>
                    <path
                      d="M14 8V1L19.5 4.5L14 8Z"
                      fill="#151515"
                      fill-opacity="0.6"
                      stroke="#151515"
                      stroke-opacity="0.6"
                      stroke-width="0.2"></path>
                  </svg>
                </div>
              </div>
              <div class="sub_button-line"></div>
            </a>
          </div>
        </div>
        <div
          gsap-anim-fadeup=""
          id="w-node-_78c3e36d-6be3-2772-89a9-64b6e1d17ea3-578cbd69"
          class="service_card_two"
        >
          <img
            src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/64757eb739f277007a33d1e2_Sheet%20Metal%20Fabrication%20icon.svg"
            loading="lazy"
            id="w-node-_78c3e36d-6be3-2772-89a9-64b6e1d17ea4-578cbd69"
            alt="Sheet Metal Fabrication icon"
            class="service_icon"
          />
          <div
            id="w-node-_78c3e36d-6be3-2772-89a9-64b6e1d17ea5-578cbd69"
            class="service_number"
          >
            <div class="verticle_line"></div>
            <div class="number">3</div>
          </div>
          <div
            id="w-node-_78c3e36d-6be3-2772-89a9-64b6e1d17ea9-578cbd69"
            class="service_content"
          >
            <h3 class="heading_3">Herramentales</h3>
            <div class="service-text">
              Montaduras de sujeción versátiles, ideales para el barrenado de
              piezas especiales o irregulares en procesos de producción. Nuestro
              diseño preciso asegura una sujeción eficiente.
            </div>
            <a
              href="/services#tooling"
              class="sub_button_block w-inline-block"
            >
              <div class="btn-grid">
                <div class="clip">
                  <div class="button_text_block">
                    <div class="sub_button-text">Descubrir más</div>
                  </div>
                  <div class="button_text_block bottom">
                    <div class="sub_button-text">Descubrir más</div>
                  </div>
                </div>
                <div class="sub_button-arrow w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="9"
                    viewbox="0 0 20 9"
                    fill="none"
                  >
                    <rect
                      y="4"
                      width="14"
                      height="1"
                      fill="#151515"
                      fill-opacity="0.6"></rect>
                    <path
                      d="M14 8V1L19.5 4.5L14 8Z"
                      fill="#151515"
                      fill-opacity="0.6"
                      stroke="#151515"
                      stroke-opacity="0.6"
                      stroke-width="0.2"></path>
                  </svg>
                </div>
              </div>
              <div class="sub_button-line"></div>
            </a>
          </div>
        </div>
        <div
          gsap-anim-fadeup=""
          id="w-node-d12f05a1-d76b-582c-d7d6-b63253b1fa92-578cbd69"
          class="service_card_three"
        >
          <Image
            src={Fixtures}
            alt="fixture-img"
            class="service_icon"
            loading="lazy"
          />
          <div
            id="w-node-d12f05a1-d76b-582c-d7d6-b63253b1fa94-578cbd69"
            class="service_number"
          >
            <div class="verticle_line"></div>
            <div class="number">2</div>
          </div>
          <div
            id="w-node-d12f05a1-d76b-582c-d7d6-b63253b1fa98-578cbd69"
            class="service_content"
          >
            <h3 class="heading_3">Calibradores</h3>
            <div class="service-text">
              Confeccionados en aluminio 7075, ofrece precisión en un rango de
              0.01 mm a 0.0005 mm en posiciones finales. Especializado en la
              fabricación de calibres "Go No Go" y feelers, su diseño se
              fundamenta en la interpretación de GD&T, asegurando mediciones
              confiables y exactas.
            </div><a
              href="/services#calipers"
              class="sub_button_block w-inline-block"
            >
              <div class="btn-grid">
                <div class="clip">
                  <div class="button_text_block">
                    <div class="sub_button-text">Descubrir más</div>
                  </div>
                  <div class="button_text_block bottom">
                    <div class="sub_button-text">Descubrir más</div>
                  </div>
                </div>
                <div class="sub_button-arrow w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="9"
                    viewbox="0 0 20 9"
                    fill="none"
                  >
                    <rect
                      y="4"
                      width="14"
                      height="1"
                      fill="#151515"
                      fill-opacity="0.6"></rect>
                    <path
                      d="M14 8V1L19.5 4.5L14 8Z"
                      fill="#151515"
                      fill-opacity="0.6"
                      stroke="#151515"
                      stroke-opacity="0.6"
                      stroke-width="0.2"></path>
                  </svg>
                </div>
              </div>
              <div class="sub_button-line"></div>
            </a>
          </div>
        </div>
        <div
          gsap-anim-fadeup=""
          id="w-node-_5b5aae08-f4ac-294c-a70c-1adfc25d8495-578cbd69"
          class="service_card_four"
        >
            <img
                    src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/64757eceed4e2e778db9ecc6_Vacuum%20Casting%20icon.svg"
                    loading="lazy"
                    id="w-node-_5b5aae08-f4ac-294c-a70c-1adfc25d8496-578cbd69"
                    alt="Vacuum Casting icon"
                    class="service_icon"
            />
          <div
            id="w-node-_5b5aae08-f4ac-294c-a70c-1adfc25d8497-578cbd69"
            class="service_number"
          >
            <div class="verticle_line"></div>
            <div class="number">4</div>
          </div>
          <div
            id="w-node-_5b5aae08-f4ac-294c-a70c-1adfc25d849b-578cbd69"
            class="service_content"
          >
            <h3 class="heading_3">Fundición al vacío</h3>
            <div class="service-text">
              Servicios integrales de inyección de plásticos y fabricación de
              moldes, brindando soluciones personalizadas de calidad para
              diversas aplicaciones.
            </div><a
              href="/services#vaccum-casting"
              class="sub_button_block w-inline-block"
            >
              <div class="btn-grid">
                <div class="clip">
                  <div class="button_text_block">
                    <div class="sub_button-text">Descubrir más</div>
                  </div>
                  <div class="button_text_block bottom">
                    <div class="sub_button-text">Descubrir más</div>
                  </div>
                </div>
                <div class="sub_button-arrow w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="9"
                    viewbox="0 0 20 9"
                    fill="none"
                  >
                    <rect
                      y="4"
                      width="14"
                      height="1"
                      fill="#151515"
                      fill-opacity="0.6"></rect>
                    <path
                      d="M14 8V1L19.5 4.5L14 8Z"
                      fill="#151515"
                      fill-opacity="0.6"
                      stroke="#151515"
                      stroke-opacity="0.6"
                      stroke-width="0.2"></path>
                  </svg>
                </div>
              </div>
              <div class="sub_button-line"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
