---
import "../styles/components/testimonial.css"
---
<div class="section_testimonials">
    <div class="grid_wrapper">
        <div id="w-node-_34ae2ebd-2acf-32e6-677e-582601331350-0133134e" class="testimonial_block">
            <h2 gsap-anim-letter="txtstragger" class="heading_2-black">Experiencia del Cliente</h2>
            <div class="testimonial_splide">
                <div class="splide__track">
                    <div class="splide__list">
                        <div class="splide__slide">
                            <div class="testimonial_content_block"><img
                                    src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/64759ed92feca1083f3fadad_quotes.svg"
                                    loading="lazy" alt="Quote icon" class="quotes-icon"/>
                                <div class="testimonial-content">
                                    Asesoramiento integral de principio a fin: un equipo
                                    altamente capacitado que ofrece un servicio al cliente excepcional, proporcionando
                                    las herramientas ideales para la creación de mis piezas personalizadas. Agradezco
                                    sinceramente a toda la familia Mechatooling.
                                </div>
                                <div class="testimonial-name">Ing. Carlos Manuel Perez Dominguez</div>
                            </div>
                        </div>
                        <div class="splide__slide">
                            <div class="testimonial_content_block"><img
                                    src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/64759ed92feca1083f3fadad_quotes.svg"
                                    loading="lazy" alt="Quote icon" class="quotes-icon"/>
                                <div class="testimonial-content">
                                    Excelente servicio y calidad, trabajos impecables. Garantizamos puntualidad.
                                    Agradecemos a Mechatooling por la fabricación de nuestras piezas. ¡Muchas gracias!
                                </div>
                                <div class="testimonial-name">Ing. Luis Alberto Barahona González</div>
                            </div>
                        </div>
                        <div class="splide__slide">
                            <div class="testimonial_content_block"><img
                                    src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/64759ed92feca1083f3fadad_quotes.svg"
                                    loading="lazy" alt="Quote icon" class="quotes-icon"/>
                                <div class="testimonial-content">
                                    Excelente trabajo, estoy muy satisfecho con sus servicios. Recomiendo al 100%.
                                    Ofrecen los fixtures de mayor calidad en el mercado.
                                </div>
                                <div class="testimonial-name">Ing. Juan Carlos Hernánez</div>
                            </div>
                        </div>
                        <div class="splide__slide">
                            <div class="testimonial_content_block"><img
                                    src="https://uploads-ssl.webflow.com/64748b66fa7c0d5993fc7935/64759ed92feca1083f3fadad_quotes.svg"
                                    loading="lazy" alt="Quote icon" class="quotes-icon"/>
                                <div class="testimonial-content">
                                    CBH Mechatooling ofrece servicios de primera calidad. Agradecemos sinceramente por
                                    el seguimiento constante.
                                </div>
                                <div class="testimonial-name">Arq. Luis Estrada López</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="splide__arrows">
                    <div class="splide__arrow splide__arrow--prev">
                        <div class="arrow-icon w-embed">
                            <svg width="20" height="9" viewbox="0 0 20 9" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect width="14" height="1" transform="matrix(-1 0 0 1 20 4)" fill="#151515"/>
                                <path d="M6 8V1L0.5 4.5L6 8Z" fill="#151515" stroke="#151515" stroke-width="0.2"/>
                            </svg>
                        </div>
                    </div>
                    <div class="splide__arrow splide__arrow--next">
                        <div class="arrow-icon w-embed">
                            <svg width="20" height="9" viewbox="0 0 20 9" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect y="4" width="14" height="1" fill="#151515"/>
                                <path d="M14 8V1L19.5 4.5L14 8Z" fill="#151515" stroke="#151515" stroke-width="0.2"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>